# Build products
*.o
*.so
*.a
*.out
*.exe

# Executables
ip1_tester
ip21_tester
ip22_tester
ip3_tester
rct_fw_tester
zerotester

# Logs
*.log
*.csv
*.txt

# ROOT files
*.root

# Temporary/editor files
*~
*.swp
.DS_Store

# Generated input/output folders
src/outputs/
src/inputs/

# Python cache
__pycache__/
*.pyc